<div id="<%= dom_id mosque %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= mosque.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= mosque.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= mosque.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= mosque.longitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= mosque.latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location:</strong>
    <%= mosque.location %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Capacity:</strong>
    <%= mosque.capacity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Size:</strong>
    <%= mosque.size %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Establish year:</strong>
    <%= mosque.establish_year %>
  </div>
</div>
